<html lang="en">

<%- include header %>

<div class="jumbotron">
	<h1>My Dashboard</h1>
  	<p>Hello <%= user.username %> !</p>
  	<p>
    	<a class="btn btn-lg btn-primary" href="#" role="button">Profile view »</a>
  	</p>
</div>

<%- include footer %>